body{
  font-family: 'Tajawal', sans-serif;
  overflow-x: hidden!important;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}
*{
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
    width: 8px;
}
body.thin::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #f6f6f6;
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: #F38120;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #F38120;
}
/* Start Nav Code*/
.navbar {
  background-color: #F9EADD;
}
.collapse .navbar-nav {
  margin-left: 200px;
}
@media(max-width: 992px) {
  .collapse .navbar-nav {
    margin-left: 0px;
    text-align: center;
  }
}
.collapse .navbar-nav .nav-item .nav-link {
    border: 0.4 solid #0D4673;
    letter-spacing: 0px;
    color: #0D4673;
    font-size: 18px;
    margin-right: 1rem;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}
.collapse .navbar-nav .nav-item .nav-link:hover {
  color: #F38120;
}
.collapse .navbar-nav .nav-item.active .nav-link {
  color: #F38120;
}
.dropdown-item {
  color: #0D4673;
}
.dropdown-item:hover {
background-color: #F38120;
color: #fff;
}
.add_nav {
  background: #fff!important;
  transition: all 1s ease;
  box-shadow: 2px 2px 5px #e0dede;
}
.navNew {
  margin-top: -1px!important;
}
/*end nav*/
/* start  welcome*/
.welcome{
  padding-top: 150px;
  padding-bottom: 50px;
  background-image: url(../img/810.png);
  position: relative;
  height: 563px;
}
@media(min-width:768px) {
  .welcome {
    margin-bottom: 120px;
  }
}
.welcome .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 563px;
  background-color: #F38120;
  opacity: 0.13;
}
.welcome .welcome-heading {
  color: #0D4673;
  margin-bottom: 40px;
  font-size: 30px;
  position: relative;
  z-index: 2;
  font-weight: bold;
}
@media(max-width: 400px) {
  .welcome .welcome-heading {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}
.welcome  .welcome-heading::before{
  position: absolute;
  content: ' ';
  left: 57%;
  top: -20px;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color:#F38120;
  z-index: -1;
}
.welcome  .welcome-heading::after{
  position: absolute;
  content: ' ';
  left: 62%;
  top: -45px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #F38120;
  z-index: -1;
}
@media(max-width: 768px) {
  .welcome  .welcome-heading::before {
    left: 70%;
  }
  .welcome  .welcome-heading::after {
    left: 80%;
  }
}
.welcome form{
  z-index: 3;
}
.welcome form .form-control {
  width: 414px;
  height: 48px;
  border: 2px solid #0D4673;
  border-right: none;
}
.welcome form .form-control::placeholder {
  color: #0D4673;
}
.welcome form .form-control:focus{
  border: 1.5px solid #F38120;
  box-shadow: none;
  border-right: none;
}
.welcome form .form-control:focus::placeholder{
  color: #F38120;
}
.welcome form .form-control:focus + .btn-primary.send {
  border: 1.5px solid #F38120 ;
  background:#F38120;
}
@media(max-width: 576px) {
  .welcome form .form-control {
    width: 220px;
  }
}
@media(min-width: 576px) and (max-width: 768px) {
  .welcome form .form-control {
    width: 350px;
  }
}
.welcome form .send {
  width: 104px;
  height: 48px;
  background-color: #0D4673;
  margin-left: -3px;
  transition: all 0.1s;
}
@media(max-width: 576px) {
  .welcome form .send  {
    width: 70px;
  }
}
.welcome form .send:hover {
  background-color: #0c3657;
}
.welcome #welcome-img {
  position: relative;
  z-index: 1;
}
@media(min-width: 992px) {
  .welcome #welcome-img {
    top: -90px;
  }
}
/* start target-traffic*/
.target-traffic {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: rgba(13, 70, 115, 0.02);
}
.target-traffic .card {
  border: none;
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: transparent;
  width: 350px;
}
@media(max-width: 576px) {
  .target-traffic .card {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media(max-width: 576px) and (max-width: 768px) {
  .target-traffic .card {
    margin-left: auto;
    margin-right: auto;
  }
}
@media(min-width: 768px) and (max-width: 1200px) {
  .target-traffic .card {
    width: 300px;
  }
}
.target-traffic .card:hover .card-img-top{
 opacity: 0.7;
}
.target-traffic .card .card-img-top{
  height: 269px;
  transition: all 0.2s;
}
.target-traffic .card .card-body {
  padding: 15px 5px;
}
.target-traffic .card .card-title {
  color: #575757;
  font-size: 17px;
  letter-spacing: 0px;
  text-transform: capitalize;
  font-weight: bold;
}
.target-traffic .card .card-text {
  color: #575757;
  opacity: 0.75;
  font-size: 14px;
} 
.target-traffic .p {
  background-color: transparent;
}
.target-traffic .pagination .page-link{
  background-color: transparent;
  color: #0D4673;
  border: none;
  font-size: 25px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  padding: 10px 20px;
}
.target-traffic .pagination .page-link:hover {
  background-color: #F38120;
}
.target-traffic .pagination .page-link.active {
  background-color: #F38120;
}
@media(max-width: 576px) {
  .target-traffic .pagination .page-link {
    font-size: 20px;
    padding: 5px 10px;
  }
}
/* start footer*/
.footer {
  background-color: #0D4673;
  color: #fff;
  padding-bottom: 40px;
}
.footer .logo {
  margin-top: 70px;
}
.footer .menu {
  margin-top: 50px;
  margin-bottom: 60px;
}
.footer .menu .menu-item {
  margin-left: 45px;
}
.footer .menu .menu-item a{
  color: #fff;
  opacity: 0.75;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.2s;
  margin-bottom: 10px;
}
.footer .menu .menu-item a:hover {
  color: #F38120;
}
.footer .menu .menu-item a.hvr-underline-from-center:before {
  background-color: #F38120;
  height: 2px;
}
.copyrights .social img{
  margin-right: 30px;
}
 .copyrights .ar-link {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
}
.copyrights .ar-link:hover {
  color: #F38120;
}
@media(max-width:768px) {
  .copyrights .ar-link{
    line-height: 3.7;
  }
}
